<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AddEmployee</servlet-name>
        <servlet-class>EstateManager.AddEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatabaseConnection</servlet-name>
        <servlet-class>EstateManager.DatabaseConnection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Renovation</servlet-name>
        <servlet-class>EstateManager.Renovation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToggleAssigned</servlet-name>
        <servlet-class>EstateManager.ToggleAssigned</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>EstateManager.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>EstateManager.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>EstateManager.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>EstateManager.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestServlet</servlet-name>
        <servlet-class>EstatesRequest.RequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReqServlet</servlet-name>
        <servlet-class>EstatesRequest.ReqServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reqServlet</servlet-name>
        <servlet-class>Request.reqServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddEmployee</servlet-name>
        <url-pattern>/AddEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatabaseConnection</servlet-name>
        <url-pattern>/DatabaseConnection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Renovation</servlet-name>
        <url-pattern>/Renovation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToggleAssigned</servlet-name>
        <url-pattern>/ToggleAssigned</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestServlet</servlet-name>
        <url-pattern>/RequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReqServlet</servlet-name>
        <url-pattern>/ReqServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reqServlet</servlet-name>
        <url-pattern>/reqServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
